body {
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.app.lite {
  --background-color: #fcfcfc;
  --text-color: #0d1117;
}

.app.dark {
  --background-color: #0d1117;
  --text-color: #fcfcfc;
}

.app {
  font-family: 'Helvetica Neue', Arial, sans-serif; 
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding-top: 100px;
  min-height: 100vh; 
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}


